@page
@model IndexModel
@{
    <label>@Model.WelcomeMessage</label>
}

<div class="text-center">
    <h2 >SyntheticGPT KQL Builder</h2>
</div>
<br />
<div>
    <form method="post">
        <div class="mb-3">
            <label class="form-label">User Query</label>
            <textarea class="form-control" name="UserQuery" id="UserQuery" placeholder="Enter your query" required cols="20" rows="5">@Model.UserQuery</textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">User Query</label>
            <select name="dbs">
                <option>tests</option>
                <option>deployments</option>
                <option>infra</option>
                <option>sybase</option>
                <option>sockperf</option>
                <option>cassandra</option>
            </select>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary mb-3" asp-page-handler="OnPost">Generate prompts and KQL Query</button>
        </div>
        <div class="mb-3">
            <label class="form-label">Prompts</label>
            <textarea readonly class="form-control" cols="20" id="Prompts" name="Prompts" rows="12">@Model.Prompts</textarea>
        </div>
        @*<div class="mb-3">
        <button type="submit" class="btn btn-primary mb-3">Generate KQL Query</button>
        </div>*@
        <div class="mb-3">
            <label class="form-label">LLM Query</label>
            <textarea readonly class="form-control" cols="20" id="KQLQuery" name="KQLQuery" rows="12">@Model.KQLQuery</textarea>
        </div>
    </form>
    
</div>
